.user {
    display: grid;
    grid-template-columns: minmax(290px, 690px) 270px;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.user__info {
    list-style: none;
    margin: 25px 0px;
    padding-right: 15px;
    border-right: 1px solid #d4d4d4;
}

.user__btn {
    justify-self: end;
}

.user__btn button {
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(202,0,81) 0%, rgb(223,4,92) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(202,0,81) 0%, rgb(223,4,92) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(202,0,81) 0%, rgb(223,4,92) 100%);
    box-shadow: 0px 3px 0px 0px rgba(148, 0, 59, 0.08);
    font-size: 21px;
    line-height: 1.2;
    color: #fff;
    font-weight: bold;
    border: none;
    display: block;
    padding: 13px 15px;
    margin-left: auto;
    cursor: pointer;
}